<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./sorting_manual.css">
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="shortcut icon" href="<%= shortcutIcon %>">
  </head>

  <body>
    <h2>Manual sorting body</h2><br>
    <h1><%= I18n.t('hello') %>, <%= name %></h1>
    <div id="root"></div>
    <script>const exports = { "__esModule": true }</script>
    <script src="./sortingManual.js"></script>
  </body>

</html>
