<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/apexcharts/dist/apexcharts.js"></script>
    <link rel="shortcut icon" href="<%= shortcutIcon %>">
    <title><%= appName %></title>
  </head>

  <body>
    <h1><%= I18n.t('hello') %>, <%= name %></h1>
    <div>
      <div id="chart-line"></div>
      <div id="chart-line2"></div>
      <div id="chart-line3"></div>
      <div id="chart-line4"></div>
    </div>
    <script>
      var options = {
        series: [{
          name: 'undefined undefined undefined undefined',
          data: [-30, -40, 35, 50, 49, 60, 70, 91, 125]
        }],
        chart: {
          id: 'fb',
          group: 'social',
          type: 'line',
          height: 160
        },
        colors: ['#008FFB'],
        yaxis: {
          labels: {
            minWidth: 40,
            text: 'Lablel 1'
          }
        },
        title: {
          text: 'undefined undefined undefined undefined',
          align: 'left',
          margin: 10,
          offsetX: 0,
          offsetY: 0,
          floating: false,
          style: {
            fontSize: '14px',
            fontWeight: 'normal',
            //fontFamily: undefined,
            color: 'green'
          }
        }
      };

      var chart = new ApexCharts(document.querySelector("#chart-line"), options);
      chart.render();

      var optionsLine2 = {
        series: [{
          name: 'sales2',
          data: [30, 40, 35, 50, 49, 60, 70, 91, 125]
        }],
        chart: {
          id: 'tw',
          group: 'social',
          type: 'line',
          height: 160
        },
        colors: ['yellow'],
        yaxis: {
          labels: {
            minWidth: 40
          }
        },
        title: {
          text: 'undefined undefined undefined undefined',
          align: 'left',
          margin: 10,
          offsetX: 0,
          offsetY: 0,
          floating: false,
          style: {
            fontSize: '14px',
            fontWeight: 'normal',
            //fontFamily: undefined,
            color: 'red'
          }
        }
      };

      var chartLine2 = new ApexCharts(document.querySelector("#chart-line2"), optionsLine2);
      chartLine2.render();

      var optionsLine3 = {
        series: [{
          name: 'sales3',
          data: [30, 40, 35, -50, 49, 60, -70, 91, 125]
        }],
        chart: {
          id: 'tw3',
          group: 'social2',
          type: 'area',
          height: 160
        },
        colors: ['green'],
        yaxis: {
          labels: {
            minWidth: 40
          }
        },
        title: {
          text: 'undefined undefined undefined undefined',
          align: 'left',
          margin: 10,
          offsetX: 0,
          offsetY: 0,
          floating: false,
          style: {
            fontSize: '12px',
            fontWeight: 'normal',
            //fontFamily: undefined,
            color: 'blue'
          }
        }
      };

      var chartLine3 = new ApexCharts(document.querySelector("#chart-line3"), optionsLine3);
      chartLine3.render();

      var optionsLine4 = {
        series: [{
          name: 'sales4',
          data: [0, 0, 1, 1, 1, 0, 1, 0, 0]
        }],
        chart: {
          id: 'tw4',
          group: 'social2',
          type: 'area',
          height: 160
        },
        colors: ['red'],
        yaxis: {
          labels: {
            minWidth: 40
          }
        },
        title: {
          text: 'undefined undefined undefined undefined',
          align: 'left',
          margin: 10,
          offsetX: 0,
          offsetY: 0,
          floating: false,
          style: {
            fontSize: '12px',
            fontWeight: 'normal',
            //fontFamily: undefined,
            color: 'black'
          }
        }
      };

      var chartLine4 = new ApexCharts(document.querySelector("#chart-line4"), optionsLine4);
      chartLine4.render();
    </script>
  </body>

</html>
